.wrapper-listUser {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}

.wrapper-table {

    border: 1px solid black;
    

}

.tableHead {

    
}

.tableTr {
    
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background: green;
    color: black;
    
}

.indiceTable {
    background: white;

}